 


/* 
Estilos Seccion Carrito de Compras  */

.contenedor-carrito{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
}

.items-carrito{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
  
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

 

.info-producto {
    display: flex;
    flex-direction: column; 
}

.producto-imagen {
    width: 130px; 
    border-radius: 10px;
    box-shadow: #000000c4;
    margin-right: 25px;
}

.precio {
    font-weight: bold;
}

.boton-cantidad {
    display: flex;
    align-items: center;
    margin-left: auto; 
}


.boton-cantidad button {
    background-color: #0505052e;
    color: #000000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 10px;
}

.carrito-resumen{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.checkout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #617842;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 40px;
}

.checkout-btn:hover {
    background-color: #444;
}

.tucarrito{
    margin-left: 13%;
}
 
.mensaje-vacio {
    text-align: center;
    color: #888;
    font-size: 1.5em;
    margin-top: 20px;
    margin-top: 15%;
}
