body {
  font-family: 'Poppins', sans-serif;

}
/* Carousel - biobug */
.carousel-inner {
  height: 288px;
}

.carousel-image {
  width: 100%;
  height: 512px;
  object-fit: cover;
}

.carousel-caption {
  top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  text-shadow: 2px 2px 5px black;
  color: white;
}

@media (max-width: 768px) {
  .carousel-inner {
    height: 187px;
  }
  .carousel-image{
    height: 320px;
  }
  .carousel-caption{
    top: 24px;
    height: 480px;
    text-align: center;
    font-size: 14px;
  }
  .carousel-caption h5 {
    font-size: 14px;
  }
  .btn-carousel {
    font-size: 14px;
  }
}

.btn-carousel {
  background-color: #617842;
  color: white;
  border: 1px solid 617842;
}

.btn-carousel:hover {
  background-color: #616f5d;
  border: 1px solid white;
}


/* Card - Products */
#list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; 
}

.card {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  height: 24rem;
  background-color: #FFFDF5;
  transition: transform 0.3s ease;
  margin-bottom: 20px; 
}

/* NOTA para camila: si se puede hacer el botton mas peque estaia super */
.card-body p{
 font-size: 13px;
}

.card:hover {
  transform: translateY(-10px);
}


