body {
  font-family: "Poppins", sans-serif;
  background-image: url("../img/background/fondo-index-b.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  height: 90%;
}
/* Carousel - biobug */
.carousel-inner {
  height: 288px;
}

.carousel-image {
  width: 100%;
  height: 512px;
  object-fit: cover;
}

.carousel-caption {
  top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  text-shadow: 2px 2px 5px black;
  color: white;
}

@media (max-width: 768px) {
  .carousel-inner {
    height: 187px;
  }
  .carousel-image {
    height: 320px;
  }
  .carousel-caption {
    top: 24px;
    height: 480px;
    text-align: center;
    font-size: 14px;
  }
  .carousel-caption h5 {
    font-size: 14px;
  }
  .btn-carousel {
    font-size: 14px;
  }
}

.btn-carousel {
  background-color: #617842;
  color: white;
  border: 1px solid 617842;
}

.btn-carousel:hover {
  background-color: #616f5d;
  border: 1px solid white;
}

/* Card - Products */
#list-items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.fondoo {
  background-image: url("../img/background/fondo-index.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.card {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  height: 24rem;
  background-color: #fffdf5;
  transition: transform 0.3s ease;
  margin: auto;
  margin-bottom: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}
.card-body p {
  font-size: 13px;
}

.card:hover {
  transform: translateY(-10px);
}

.btn-buy {
  background-color: #617842;
  color: white;
  align-items: center;
}

.btn-buy:hover {
  background-color: #616f5d;
  color: white;
  border: 1px solid white;
}

.card-img-top {
  max-height: 200px;
  border-radius: 10px;
}
